*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
 font-family: sans-serif;
}
body{
    background: linear-gradient(45deg,#cda735);
}
.container{
    display: flex;
    width: 100%;
    height: 100%vh;
    background-color: #FFECB3;
   border: 1px solid;
   flex-wrap: wrap;
}
.main{
    width: 60%;
    height: 40vh;
    background-color: #00BCD4;
    margin: 20%;
    padding: 20%;
    border-radius: 20px ;
    flex-wrap: wrap;
     display: flex;
}
 
    
form{
    border-radius: 15px;
    position: relative;
    bottom: 200px;
    justify-content: center;
    text-align: center;
    align-items: center;
    flex-wrap: wrap;
     
    background-color: #00838F;
}
input{
    
    background: transparent;
    border: 1px solid #fff;
    border-radius: 20px;
    padding: 0.7rem;
    margin: 1rem;
    color: #fff;
   
}
button{
    background: transparent;
    border: none;
}

button input{
background: #FFA000;
border: 1px solid #fff;
border-radius: 20px;
}
button > ::placeholder{
    position: relative;
    text-align: center;
    justify-content: center;
}
 

.contact form h3,h5{
color: #fff;
font-size: 1em;
padding: 0.5rem;
}
.text{
    background: transparent;
    border: 1px solid #fff;
    border-radius: 15px;
    padding: 0.5em;
}


::placeholder{
    color: #fff;
}
