* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

body {
    background: #FFECB3;
    overflow: hidden;
}

.main {
    position: relative;
    top: 50px;
    left: 50px;
    transform: translate(30%, 6%);
    width: 60%;
    height: 40vh;
    background-color: transparent;
    padding: 20%;
    border-radius: 40px;
    flex-wrap: wrap;
}


form {
    border-radius: 15px;
    position: relative;
    bottom: 200px;
    justify-content: center;
    text-align: center;
    align-items: center;
    flex-wrap: wrap;
    width: 170%;
    height: 50vh;
    background-color: #00838F;
}

form::before {
    position: absolute;
    width: 110%;
    height: 48vh;
    background: #00BCD4;
    z-index: -1;
    justify-content: center;
    border-radius: 40px;
    margin-top: 10px;
    margin-left: -30px;
    transform: rotate(-15deg);
    content: "";
    inset: 0;
}


input {
    background: transparent;
    border: 1px solid #fff;
    border-radius: 20px;
    padding: 0.7rem;
    margin: 1rem;
    color: #fff;
}


input[type=submit] {
    background: transparent;
    cursor: pointer;
    border: none;
}

input[type=submit] {
    background: #FFA000;
    border: 1px solid #fff;
    border-radius: 20px;
}

input[type=submit]> ::placeholder {
    position: relative;
    text-align: center;
    justify-content: center;
}


.contact form h3,
h5 {
    color: #fff;
    font-size: 1em;
    padding: 0.5rem;
}

.text {
    background: transparent;
    border: 1px solid #fff;
    border-radius: 15px;
    padding: 0.5em;
}

::placeholder {
    color: #fff;
}

label {
    color: #fff;
}

label span {
    color: #B2EBF2;
}