@import url('https://fonts.googleapis.com/css2?family=ZCOOL+XiaoWei&display=swap');
* {
    text-decoration: none;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'roboto';
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden !important;
    font-family: 'roboto';
}

.container {
    display: flex;
    width: 100vw;
    height: 400vw;
    color: #000;
    font-family: 'roboto';
}

.inner {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    gap: 3vw;
}

.menu-row {
    display: flex;
    flex-basis: 10%;
    width: 95%;
    justify-content: flex-end;
    align-items: center;

}

.menu {
    flex-basis: 75%;
    display: flex;
    width: 80%;
    gap: 1vw;
}

.menu-content {
    display: flex;
    align-items: center;
    width: 80%;
    gap: 2vw;
}

.logo a{
    font-family: 'ZCOOL XiaoWei', sans-serif;
    color: white;
}
.login {
    flex-basis: 22%;
    height: 100%;
}

.rect {
    position: absolute;
    z-index: 0;
    height: 20%;
    width: 30%;
    background-color: #00BCD4;
    border-radius: 1.5vw;
    top: -10%;
    transform: rotate(167deg);

}

.login-a {
    position: relative;
    font-size: 1vw;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    gap: 2vw;
    text-transform: uppercase;
}

.login-a a {
    color: white;

}

.login-a iconify-icon {
    font-size: 1.5vw;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 20%;
    font-size: 2.5vw;
}

.reg {
    background-color: white;
    color: #00838F !important;
    padding: .4vw 1.1vw;
    border-radius: .5vw;
}

.nav-content {
    flex-basis: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.1vw;
    gap: 1.5vw;
}

.nav-content a {
    text-transform: uppercase;
    color: #000;
}

.fsection {
    display: flex;
    width: 100%;
    height: 45vw;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4vw;
    background-color: #B2EBF2;
    background-image: linear-gradient(-100deg,
            transparent 94%,
            white 94%),
        linear-gradient(170deg, transparent 72%, white 72%);
}

.fsection-body {
    width: 85%;
    flex-basis: 92%;
    display: flex;
}

.feature-section {
    width: 100%;
    height: 27.5vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 3vw;
}

h2{
    font-size: 1.75vw;
    text-transform: capitalize;
}

.right {
    display: flex;
    flex-direction: column;
    flex-basis: 50%;
    height: 40%;
    justify-content: space-evenly;
}

.left {
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-basis: 50%;
}

p {
    font-size: 1vw;
}

.right h1 {
    font-size: 2.2vw;
}

.right p {
    font-size: 1vw;
}

.left img {
    width: 32vw;
    height: 25vw;
    object-fit: cover;
}

.texts h1 {
    font-size: 2.2vw;
}

.search {
    display: flex;
    padding: .5vw .2vw;
    width: 50%;
    background-color: aliceblue;
    gap: 1%;
    border-radius: .4vw;
    align-items: center;
}

.search input {
    outline: none;
    border: none;
    background-color: inherit;
    flex-basis: 90%;
    padding: .5vw;
}

.search input::placeholder {
    font-size: 1vw;
    font-weight: 300;
}

.search iconify-icon {
    font-size: 1.3vw;
    flex-basis: 5%;
    color: #00BCD4;
}

.descript {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 35%;
    flex-basis: 80%;
}

.descript .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2vw;
    width: 3.5vw;
    height: 3.5vw;
    border: 1px solid #00BCD4;
    padding: 1vw;
    border-radius: .4vw;
    transform: rotate(45deg)
}

.descript iconify-icon {
    transform: rotate(-45deg);
}

.line {
    display: flex;
    flex-direction: column;
    width: 15vw;
    justify-content: center;
    align-items: center;
    gap: .5vw;
}

.fluid {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 20vw;
    height: 6vw;
    gap: 1vw;
}

.lil {
    position: relative;
    width: 1vw;
    height: 1vw;
    background-color: #00BCD4;
}

.text {
    display: flex;
    flex-direction: column;
}

.texts {
    text-align: center;
}

.texts h1 {
    text-transform: capitalize;
    z-index: 1;
    position: relative;
}

.line-through {
    position: relative;
    height: 1vw;
    width: 12vw;
    top: -1.7vw;
    left: 7vw;
    z-index: 0;
    background-color: rgba(178, 235, 242, 1);
}

.lined {
    color: #00838F !important;
}

.men {
    width: 6vw;
    height: .5vw;
    left: -.1vw;
    top: -1vw;
    background-color: rgba(0, 188, 212, .5);
}

.course-section {
    display: flex;
    flex-direction: column;
    height: 120vw;
    width: 100vw;
}

.back {
    display: flex;
    width: 100%;
    height: 100%;
    position: relative;
    justify-content: center;
    z-index: 0;
}

.popular {
    display: flex;
    flex-basis: 25%;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.right-pop {
    display: flex;
    height: 100%;
    background-color: rgba(0, 188, 212, .9);
    border-radius: 0 4vw 0 0;
    flex-basis: 80%;
}

.slide {
    display: flex;
    align-items: center;
    width: 25vw;
    gap: 2vw;
    margin-left: 1vw;
}

.pop {
    display: flex;
    flex-direction: column;
    color: white;
}

.slide iconify-icon {
    font-size: 2vw;
    border-radius: 50%;
    padding: .4vw;
    background-color: white;
    box-shadow: 8px 6px 47px -2px rgba(56, 54, 54, 0.75);

}

.r {
    width: 4vw;
    position: absolute;
    z-index: 4;
    right: 0%;
}

.left-pop {
    display: flex;
    justify-content: flex-end;
    flex-basis: 20%;
    background-color: white;
}

.cards {
    display: flex;
    position: absolute;
    justify-content: center;
    left: 35%;
    gap: 1vw;
    z-index: 1;
}

.card {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 12vw;
    height: 18vw;
    padding: .15vw;
    flex-direction: column;
    background-color: white;
    border-radius: .3vw;
}

.image {
    flex-basis: 33%;
}

img {
    width: 100%;
    border-radius: .3vw .3vw 0 0;
}

.info {
    display: flex;
    flex-direction: column;
    width: 93%;
    flex-basis: 60%;
    justify-content: space-evenly;

}

.t-line {
    display: flex;
    flex-direction: column;
    gap: .1vw;
}

.info h4 {
    text-transform: capitalize;
    font-size: .9vw;
}

.r-line {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.ratings iconify-icon {
    color: #e6e6e6;
    font-size: 1vw;
    cursor: pointer;
    transition: color 0.2s ease;
}

.ratings iconify-icon.active {
    color: #ff9c1a;
}

.info button {
    border: 1px solid #00BCD4;
    padding: .3vw;
    text-transform: capitalize;
    color: #00BCD4;
    border-radius: .2vw;
    background-color: transparent;
}

.explore {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-basis: 50%;
    background-image: linear-gradient(to right, rgba(255, 236, 179, .4) 80%, white 80%);
}

.exp {
    display: flex;
    flex-direction: column;
    width: 97%;
    height: 85%;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 4vw;
}

.exp-text {
    display: flex;
    flex-direction: column;
    margin-left: 5vw;
}

.courses {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: flex-start;
    gap: 3vw;
}

.course-stack {
    box-shadow:
        /* The top layer shadow */
        0 1px 1px rgba(0, 0, 0, 0.15),
        /* The second layer */
        0 12px 0 -5px #eee,
        /* The second layer shadow */
        0 12px 1px -4px rgba(0, 0, 0, 0.15),
        /* The third layer */
        0 24px 0 -10px #eee,
        /* The third layer shadow */
        0 24px 1px -9px rgba(0, 0, 0, 0.15);
    /* Padding for demo purposes */
    width: 22vw;
    height: 16vw;
    background-color: #189A96;
    border-radius: .5vw;
    display: flex;
    flex-direction: column;
}

.c-img {
    display: flex;
    flex-basis: 70%;
}

.c-img img {
    position: absolute;
    z-index: 0;
    width: 22vw;
    height: 12.1vw;
    object-fit: cover;
    border-radius: .5vw .5vw 0 0;
}

.c-title {
    z-index: 1;
    flex-basis: 30%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background-color: #1B6D6B;
    border-radius: .5vw;
    padding-left: 1vw;
    flex-direction: column;
    transition: 1s ease;
    gap: .2vw;

}

.c-title .tit {
    color: #E0EBEB;
    text-transform: capitalize;
    font-size: 1.3vw;
    width: 90%;
}

.c-desc {
    font-size: .8vw;
    display: none;
    text-decoration: none;
    color: #E0EBEB;
    text-decoration-color: #00BCD4;
    font-weight: 300;

}

.course-stack .c-title:hover {
    flex-basis: 110% !important;
    justify-content: flex-start;
    padding-top: 1vw;
}

.c-title:hover .tit {
    border-bottom: .2vw solid #189A96;
}

.c-title:hover .c-desc {
    display: flex;
}

.c-line {
    display: flex;
    gap: 5vw;
    margin-left: 5vw;
}

.liltext {
    display: flex;
    flex-basis: 25%;
    background-color: #00838F;

}

.flower-img {
    flex-basis: 50%;
}

.ac-text {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-basis: 50%;
}

.ac-title {
    display: flex;
    flex-direction: column;
    width: 21vw;
    font-size: 3vw;
    color: white;
    text-transform: capitalize;
}

.desc {
    display: flex;
    width: 40vw;
    color: white;
    font-size: 1.2vw;
}

.btn {
    background-color: white;
    color: #189A96;
    border: none;
    font-size: 1.3vw;
    padding: .5vw 1.8vw;
    border-radius: .4vw;
    text-transform: uppercase;
    font-weight: 500;
}

.lil-square {
    position: relative;
    height: 3vw;
    width: 3vw;
    left: 15%;
    background-color: #00BCD4;
    transform: rotate(45deg);
    border-radius: .4vw;
    box-shadow: .04vw .04vw 1vw .1vw rgba(80, 86, 80, 0.75);
}

.square {
    position: relative;
    background-color: #00BCD4;
    transform: rotate(45deg);
    box-shadow: .04vw .04vw 1vw .1vw rgba(80, 86, 80, 0.75);
}

.top {
    width: 10vw;
    height: 10vw;
    left: 40%;
    top: -4vw;
    border-radius: 1vw;
}

.lil2 {
    width: 8vw;
    height: 8vw;
    left: 15%;
    border-radius: .8vw;
}

.bt {
    width: 12vw;
    height: 12vw;
    left: 45%;
    border-radius: 1.2vw;
}

.second{
    width: 5vw;
    height: 5vw;
    left: 35vw;
    bottom: -18.5vw;
    border-radius: .45vw;
}
.testimonials {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3vw;
    width: 100%;
    height: 32vw;
}

.test-div {
    display: flex;
    width: 80%;
    justify-content: center;
    gap: 1vw;
}

.testimonial {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-basis: 50%;
    border: 2px solid rgba(0, 0, 0, .12);
    padding: 2vw;
}

.detail {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: #00BCD4;
    color: white;
    font-size: 3vw;
    width: 4vw;
    height: 4vw;
    top: -4vw;
    transform: rotate(45deg);
    border-radius: .5vw;
}

.detail iconify-icon {
    transform: rotate(-45deg);
}

.test-text {
    display: flex;
    flex-direction: column;
    gap: 1.1vw;
}

.signature {
    display: flex;
    flex-direction: column;
}

.name {
    font-size: 1.2vw;
    font-weight: 600;
    text-transform: capitalize;
}

.sign {
    font-size: .95vw;
}

.update{
    display: flex;
    height: 45vw;
    align-items: center;
    flex-direction: column;
    gap: 1vw;
}
.up-text{
    width: 90%;
}

.inner-u{
    display: flex;
    width: 100%;
    height: 35vw;
}
.u1{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 80%;
    border: 2px solid #FFA000;
    border-left: 0;
    border-radius: 0 6vw 6vw 0;
    flex-direction: column;
    gap: 2vw;
}
.u2{
    flex-basis: 20%;
}
.u2 iframe{
    position: relative;
    width: 25vw;
    height: 20vw;
    border-radius: 1vw;
    left: -12vw;
    top: 8vw;
}
.u2 video{
    height: 100%;
}
.u1-content{
    width: 80%;
}

.u-lines{
    width: 80%;
}
.u-content{
    display: flex;
    position: relative;
    align-items: center;
    z-index: 1;
    bottom: 3.2vw;
    left: 2.8vw;
    gap: .5vw;
}
.ut-desc{
    display: flex;
    flex-direction: column;
    gap: .5vw;
    flex-basis: 60%;
}

.u-back{
    position: relative;
    display: flex;
    width: 12vw;
    opacity: 0.8;
    z-index: 0;
}

.u-square{
    transform: rotate(45deg);
    top: 2vw;
}
.a{
    width: 2.5vw;
    height: 2.5vw;
    background-color: #FFECB3;
    left: 1.7vw;
    bottom: 1vw;
    border-radius: .3vw;
    position: relative;
    z-index: 1;
}
.b{
    position: relative;
    width: 5vw;
    height: 5vw;
    background-color: #FFFAF2;
    border-radius: .6vw;
    z-index: 0;
}
.sub{
    text-transform: capitalize;
    font-size: .8vw;
    color: rgba(0, 0, 0, .48);
}
.u-desc{
    font-size: 1.1vw;
    font-weight: 600;
}
.other{
    flex-basis: 20%;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 6vw;
    width: 6vw;
    color: rgba(0, 0, 0, .4);
}
.month{
    font-size: 2vw;
}
.day{
    font-size: 3vw;
}
.year{
    font-size: 1.3vw;
}
.u1 a{
    position: relative;
    font-size: 1vw;
    color: #FFA000;
    text-transform: uppercase;
    bottom: 1.3vw;
    left: 1.5vw;
}

.news-letter{
    
}