*{
    text-decoration: none;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.container{
    width: 100vw;
    height: 400vh;
    color: #555;
}
.inner{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}
.fsection{
    display: flex;
    width: 100%;
    height: 135vh;
    flex-direction: column;  
    background-color: #B2EBF2;
    background-image: linear-gradient(
        -100deg,
        transparent 92.5%,
        white 92.5%
      ),
      linear-gradient(170deg, transparent 75%, white 75%),   
      radial-gradient(ellipse farthest-corner at 0 100%, #3c84cc -0%, #316dc2 70%, #4e95d3 70%);
    background-origin: border-box;
    background-clip: content-box, border-box;
    border-radius: 0 0 0 1vw;
}
.menu-row{
    display: flex;
    flex-basis: 8%;
    width: 100%;    
    background-color: cadetblue;

}
.menu{
    flex-basis: 80%;
    display: flex;
    width: 80%;
    background-color: blueviolet;
    gap: 1vw;
}
.menu-content{
    display: flex;
    align-items: center;
    width: 80%;
    background-color: darkred;
    gap: 1vw;
}
.login{
    display: flex;
}
.logo{
    flex-basis: 20%;
    font-size: 2.5vw;
}
.nav-content{
    flex-basis: 60%;
    display: flex;
    font-size: 1.4vw;
    gap: 1vw;
}
.fsection-body{
    flex-basis: 92%;
    display: flex;
}
.feature-section{
    width: 100%;
    height: 100%;
    background-color: darkgoldenrod;
}
