*{
    text-decoration: none;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'roboto';

}
body{
    
    overflow-x: hidden !important;
}
.container{
    display: flex;
    width: 100vw;
    height: 400vw;
    color: #000;
}
.inner{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    gap: 3vw;
}
.menu-row{
    display: flex;
    flex-basis: 10%;
    width: 95%;    
    justify-content: flex-end;
    align-items: center;
    background-color: aquamarine;

}
.menu{
    flex-basis: 90%;
    display: flex;
    width: 80%;
    gap: 1vw;
}
.menu-content{
    display: flex;
    align-items: center;
    width: 80%;
    gap: 1vw;
}
.login{
    flex-basis: 18%;
    height: 100%;
}
.rect{
    position: absolute;
    z-index: 0;
    height: 20%;
    width: 20%;
    background-color: #00BCD4;
    border-radius: 1.5vw;
    top: -10%;
    transform: rotate(167deg);

}
.login-a{
    position: relative;
    font-size: 1vw;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    gap: 1vw;
}
.logo{
    flex-basis: 20%;
    font-size: 2.5vw;
}
.nav-content{
    flex-basis: 60%;
    display: flex;
    font-size: 1.4vw;
    gap: 1vw;
}
.fsection{
    display: flex;
    width: 100%;
    height: 50vw;
    justify-content: center;
    align-items: center;
    flex-direction: column;  
    gap: 4vw;
    background-color: #B2EBF2;
    background-image: linear-gradient(
        -100deg,
        transparent 94%,
        white 94%
      ),
      linear-gradient(170deg, transparent 72%, white 72%); 
}

.fsection-body{
    width: 85%;
    flex-basis: 92%;
    display: flex;
}
.feature-section{
    width: 100%;
    height: 45vh;
    background-color: darkgoldenrod;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 2vw;
}
.right{
    display: flex;
    flex-direction: column;
    flex-basis: 50%;
    height: 40%;
    justify-content: space-evenly;
}
.left{
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-basis: 50%;
}
p{
    font-size: 1vw;
}
.right h1{
    font-size: 2.2vw;
}
.right p{
    font-size: 1vw;
}
.left img{
    width: 32vw;
    height: 25vw;
    object-fit: cover;
}
.texts h1{
    font-size: 2.2vw;
}
.search{
    display: flex;
    padding: .5vw .2vw;
    width: 50%;
    background-color: aliceblue;
    gap: 1%;
    border-radius: .4vw;
    align-items: center;
}
.search input{
    outline: none;
    border: none;
    background-color: inherit;
    flex-basis: 90%;
    padding: .5vw;
}
.search input::placeholder{
    font-size: 1vw;
    color: darkgrey;
    font-weight: 300;
}
.search iconify-icon{
    font-size: 1.3vw;
    flex-basis: 5%;
    color: #00BCD4;
}
.descript{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    flex-basis: 80%;
    background-color: coral;
}
.descript .icon{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2vw;
    width: 3.5vw;
    height: 3.5vw;
    border: 1px solid #00BCD4;
    padding: 1vw;
    border-radius: .4vw;
    transform: rotate(45deg)

}
.descript iconify-icon{
    transform: rotate(-45deg);
}
.line{
    display: flex;
    flex-direction: column;
    background-color: crimson;
    width: 15vw;
    justify-content: center;
    align-items: flex-start;
}
.fluid{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 13vw;
    height: 6vw;
    background-color: darksalmon;
    gap: 2vw;
}
.lil{
    position: relative;
    width: 1vw;
    height: 1vw;
    background-color: #00BCD4;
}
.texts{
    text-align: center;
}
/* .poly{
    position: absolute;
    bottom: 1.3%;
    left: 7.8%;
    transform: rotate(-10deg);
    width: 2vw;
    height: 2vw;
    background-color: #B2EBF2;
} */
.course-section{
    display: flex;
    flex-direction: column;
    height: 130vh;
}
.back{
    display: flex;
    width: 100%;
    height: 100%;
    position: relative;
    justify-content: center;
    z-index: 0;
}
.popular{
    display: flex;
    flex-basis: 40%;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.right-pop{
    display: flex;
    height: 100%;
    background-color: rgba(0, 188, 212, .9);
    border-radius: 0 4vw 0 0;
    flex-basis: 80%;
}
.slide{
    display: flex;
    align-items: center;
}
.slide iconify-icon{
    font-size: 2vw;
    border-radius: 50%;
    padding: .4vw;
    background-color: white;
    box-shadow: 8px 6px 47px -2px rgba(56,54,54,0.75);

}
.r{
    position: absolute;
    z-index: 4;
    right: 0;
}
.left-pop{
    display: flex;
    justify-content: flex-end;
    flex-basis: 20%;
    background-color: white;
}
.cards{
    display: flex;
    position: absolute;
    justify-content: center;
    left: 35%;
    gap: 1vw;
    z-index: 1;
}
.card{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 12vw;
    height: 18vw;
    padding: .15vw;
    flex-direction: column;
    background-color: white;
    border-radius: .3vw;
}
.image{
    flex-basis: 33%;
}
img{
    width: 100%;
    border-radius: .3vw .3vw 0 0;
}
.info{
    display: flex;
    flex-direction: column;
    width: 93%;
    flex-basis: 60%;
    justify-content: space-evenly;
    
}
.t-line{
    display: flex;
    flex-direction: column;
    gap: .1vw;
}
.info h4{
    text-transform: capitalize;
    font-size: .9vw;
}

.r-line{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.ratings iconify-icon {
    color: #e6e6e6;
    font-size: 1vw;
    cursor: pointer;
    transition: color 0.2s ease;
  }
.ratings iconify-icon.active {
    color: #ff9c1a;
}

.info button{
    border: 1px solid #00BCD4;
    padding: .3vw;
    text-transform: capitalize;
    color: #00BCD4;
    border-radius: .2vw;
    background-color: transparent;
}
.explore{
    flex-basis: 60%;
    background-image: linear-gradient(to right, rgba(255, 236, 179, .4) 80%, white 80%);
}
.course-stack{
    box-shadow:
    /* The top layer shadow */
    0 1px 1px rgba(0,0,0,0.15),
    /* The second layer */
    0 10px 0 -5px #eee,
    /* The second layer shadow */
    0 10px 1px -4px rgba(0,0,0,0.15),
     /* The third layer */
    0 20px 0 -10px #eee,
    /* The third layer shadow */
    0 20px 1px -9px rgba(0,0,0,0.15);
    /* Padding for demo purposes */
    padding: 30px;
    width: 15vw;
    height: 10vw;
    background-color: #189A96;
}